<!-- /.main -->
<div class="col-md-offset-2 col-md-8" ng-init="init()">
    <!--div class="main-title">
        <h4>ADD Users</h4>
    </div-->


    <!--div class="create-project">
        <form name="myForm">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="comment" class="settings">EMAIL</label> <input
                            type="email" name="email" ng-model="email"
                            class="form-control" placeholder="Email" required> <span style="color: red"
                            ng-show="myForm.email.$dirty && myForm.email.$invalid"> <span
                                ng-show=" !isSubmitted && myForm.email.$error.required">Email is required.</span>
                            <span ng-show="myForm.email.$error.email">Invalid email
                                address.</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="comment" class="settings">USERNAME</label>

                        <input type="text" ng-model="name" name="planName"  class="form-control" ng-pattern="/^[a-zA-Z0-9\_\- ]*$/" placeholder="Name" required>                    

                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-default createAdmin" ng-disabled="myForm.$invalid"
                    ng-click="createUser(myForm.$valid)">Create User</button>

        </form>
    </div-->

    <div class="col-md-12">
        <div class="row">
            <div class="main-title">
                <div class="section group">
                    <div class="col span_1_of_3">
                        <h4>user activity </h4>
                    </div>

                    <div class="col span_1_of_3">
                        <div class="right-inner-addon ">
                            <i class="fa fa-search"></i> <input ng-model="searchText"
                                                                class="form-control" placeholder="Search...">
                        </div>
                    </div>
                </div>

            </div>

            <div class="project-table" ng-init="init()">
                <table style="width:160%;">
                    <thead>
                        <tr>
                            <th style="width:40%;">Name</th>                             
                            <th style="width:40%;">Email</th>
                            <th style="width:40%;">UserRole</th>
                            <th style="width:40%;">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in allUsers| filter:searchText"> {{$index}}                       
                            <td style="width:40%;">{{user.name}}</td>
                            <td style="width:40%;">{{user.email}}</td>
                            <td style="width:40%;">{{user.userRole}}</td>
                            <td style="width:40%;">
                                <a href="#" ng-click="deleteUser(user.email, allUsers.indexOf(user))" confirm="Are you sure you want to delete the item?" class="navbar-toggle collapse in icon-menu" data-toggle="collapse" id="menu-toggle-2"><img src="../../assets/img/delete1.jpg"  tooltips tooltip-template="Delete">
                                </a>  

                            </td></tr>


                    </tbody>
                </table>
                <dir-pagination-controls
                    max-size="10"
                    direction-links="true"
                    boundary-links="true" >
                </dir-pagination-controls>
            </div>
        </div>
    </div>

</div>