<div class="tab-content" ng-init='init()'>
    <nav class="navbar navbar-admin">
        <div class="col-md-offset-2 col-md-8">
            <div class="main-title">
                
            </div>
            
            <div class="row-md-12">
                <div class="col-md-4">
                    <div class="form-group">                                   
                        <select class="form-control" ng-model="productName" ng-change="selectPricingDetails()">
                            <option value="">Select Product</option>
                             <option ng-repeat='pro in product' value='{{pro.id}}'>{{pro.name}}</option>
                        </select>
                    </div>
                </div> 

                <div class="col-md-4">
                    <div class="form-group">                                       
                        <input type="text" ng-model="planName" name="planName" placeholder='Plan Name' class="form-control" ng-pattern="/^[a-zA-Z0-9\_\- ]*$/" required>
                        <!--span style="color: red" ng-show="!isSubmitted && myForm.planName.$dirty && myForm.planName.$error.required">The
                            name is required.
                        </span> 
                        <span style="color: red" ng-show="myForm.planName.$dirty && myForm.planName.$error.pattern">Product Name is invalid
                        </span-->
                    </div>
                </div> 
           
               
                <div class="col-md-4">
                    <div class="form-group">                                   
                        <select class="form-control" ng-model="currency" ng-change="selectLabel()">
                              <option value="">Select Currency</option>
                             <option ng-repeat='cur in currencys' value='{{cur}}'>{{cur}}</option>
                        </select>
                    </div>
                </div> 
                <div class="col-md-12">
                    <div class="form-group">                                       
                        <input type="text" ng-model="description" name="description" placeholder='Description' class="form-control" ng-pattern="/^[a-zA-Z0-9\_\- ]*$/" required>
                      
                    </div>
                </div>             
            </div>
            <div class="main-title" ng-if="pricingdetails.length > 0">
                <h4>Metering Details</h4>
            </div>
            <div class="row-md-12" ng-if="pricingdetails.length > 0">
                <table>
                    <thead>
                      
                    </thead>
                    {{pricingdetails}}
                    <tbody>
                        <tr ng-repeat="pr in pricingdetails">
                            <td style="width:50%;">{{pr}}</td>
                            <td style="width:30%;"> <input type="text" ng-model="dollar" name="trialPeriod"  required></td>
                            <td style="width:20%;"> <label for="comment" class="settings">{{symbol}}</label></td>
                            
                            
                            
                        </tr>
                    </tbody>
                </table>
                <!--div class="col-md-4">
                    <div class="form-group">                                     
                        <select class="form-control" ng-model="billingType">
                            <option value="">Cost Per User</option>
                        </select>
                    </div>
                </div> 
                <div class="col-md-4">
                    <div class="form-group">                                     
                        <select class="form-control" ng-model="billingType" placeholder='Type of billing'>
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">                                       
                        <input type="text" ng-model="trialPeriod" name="trialPeriod" placeholder='Trial Period' class="form-control" ng-pattern="/^[a-zA-Z0-9\_\- ]*$/" required>
                        <span style="color: red" ng-show="!isSubmitted && myForm.trialPeriod.$dirty && myForm.trialPeriod.$error.required">The
                            name is required.
                        </span> 
                        <span style="color: red" ng-show="myForm.trialPeriod.$dirty && myForm.trialPeriod.$error.pattern">Product Name is invalid
                        </span>
                    </div>
                </div-->   
                

            </div> 
                 <div class="main-title" ng-if="pricingdetails.length == []">
                <h4>Fixed Details</h4>
            </div>
            <div class="row-md-12"  ng-if="pricingdetails.length == []">
                <div class="col-md-4">
                    <div class="form-group">
                            
                            <input type="text" ng-model="hh" name="productName" placeholder="Üpto 25 User"
                                   class="form-control" ng-pattern="/^[a-zA-Z0-9\_\- ]*$/" required>
                           
                        </div>
                </div> 
                <div class="col-md-4">
                    <div class="form-group"> 
                        
                        <select class="form-control" ng-model="billingType" placeholder='Type of billing'>
                            <option value="">select</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">                                       
                         <label for="comment" class="settings">$</label>
                    </div>
                </div>   
                

            </div> 
            <button type="button" class="btn btn-default create" ng-disabled="myForm.$invalid"
                    ng-click="createPricing()">SAVE</button>
            <button type="button" class="btn btn-default create" ng-disabled="myForm.$invalid"
                    ng-click="clear(myForm.$valid)">CLEAR ALL</button>


            <div class="main-title">
                <div class="section group">
                    <div class="col span_1_of_3">
                        <h4>Select Product</h4>
                    </div>

                    <div class="col span_1_of_3">
                        <div class="form-group">                                     
                            <select class="form-control" ng-model="billingType" placeholder='Type of billing'>
                                <option value="">Select Product</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="project-table" ng-init="initUser()">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>                             
                            <th>Description</th>
                            <th>Itemised Details</th>
                            <th style="text-align:center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Basic</td>
                            <td>Basic</td>
                            <td>Basic</td>
                            <td><button type="button" class="btn btn-default create" ng-disabled="myForm.$invalid"
                                        ng-click="saveChanges(myForm.$valid)">Edit</button>
                                <button type="button" class="btn btn-default create" ng-disabled="myForm.$invalid"
                                        ng-click="clear(myForm.$valid)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </nav>

    <div ui-view></div>
</div>