<div class="tab-content" ng-init='init()'>
    <div class="col-md-offset-2 col-md-8">
        <br>
        <div class="create-project">
            <form name="myForm">
                <div class="row-md-12">
                    <div class="col-md-6">
                        <label for="comment" class="settings">Select Product</label>
                        <div class="form-group">                                   
                            <select class="form-control" name="productName" ng-model="productName" ng-change="selectPricingDetails()">
                                <option value="" disabled>Select Product</option>
                                <option ng-repeat='pro in product' value='{{pro.id}}'>{{pro.name}}</option>
                            </select>

                            <span class="mdl-tooltip mdl-tooltip--validation" for="productName" 
                                  ng-show="myForm.productName.$invalid && basicDetailsForm.productName.$touched">
                                <span ng-show="myForm.productName.$error.required">Please select product</span>
                            </span>
                        </div>
                    </div> 

                    <div class="col-md-6">
                        <label for="comment" class="settings">Plan Name</label>
                        <div class="form-group">                                       
                            <input type="text" ng-model="planName" name="planName"  class="form-control" ng-pattern="/^[a-zA-Z0-9\_\- ]*$/" required>                    
                        </div>
                    </div> 

                    <div class="col-md-4">
                        <label for="comment" class="settings">Currency</label>
                        <div class="form-group">                                   
                            <select class="form-control" ng-model="currency" ng-change="selectLabel()">
                                <option value="" disabled>Select Currency</option>
                                <option ng-repeat='cur in currencys' value='{{cur}}'>{{cur}}</option>
                            </select>
                        </div>
                    </div> 
                    <div class="col-md-8">
                        <label for="comment" class="settings">Description</label>
                        <div class="form-group">                                       
                            <textarea type="text" ng-model="description" name="description"  class="form-control" ng-pattern="/^[a-zA-Z0-9\_\- ]*$/" required></textarea>      
                        </div>
                    </div>              
                </div>

                <div class="main-type" ng-show="type == 'Metered'">
                    <h4>Metering Details</h4>
                </div>  

                <div class="row-md-12" ng-show="type == 'Metered'" >
                    <div class="col-md-3">
                        <div class="form-group">                                   
                            <select class="form-control" ng-model="billing" ng-change="selectBillingMetered($index, billing)">
                                <option value="" disabled>Select BillingCycle</option>
                                <option ng-repeat='value in billingPeriods' value='{{value}}'>{{value}}</option>
                            </select>     
                        </div>
                    </div>

                    <div class="col-md-9" ng-repeat="value in meteredRows" ng-show="type == 'Metered'">

                        <div class="col-sm-1 col-xs-12 pull-right" style="cursor: pointer;">
                            <a ng-click="removeMeteredRows($index)" tooltip="delete"><img src="../../assets/img/del.jpg"  tooltips tooltip-template="Delete"></a>  
                        </div>

                        <div class="col-sm-1 col-xs-12 pull-right"  style="cursor: pointer;">
                            <a ng-click='addMeteredDetails()' tooltip="Add"><img src="../../assets/img/plus.png"  tooltips tooltip-template="add"></a>                           
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">                           
                                <input type="text" ng-model="value.key" 
                                       class="form-control" > 
                            </div>
                        </div> 
                        <div class="col-md-3">
                            <div class="form-group">        
                                <input type="text" ng-model="value.cost"  
                                       class="form-control" pattern="\d+" required>

                            </div>
                        </div>
                        <div class="col-md-1">

                            <label for="comment" class="settings">{{symbol}}</label>

                        </div>      

                    </div>

                </div> 

                <div class="main-type" ng-show="type == 'Fixed'">
                    <h4>Fixed Details</h4>
                </div>

                <div class="row-md-12"  ng-show="type == 'Fixed'">
                    <div class="col-md-3" >
                        <label for="comment" class="settings">Fixed plan for Time Period</label>
                        <div class="form-group">                                   
                            <select class="form-control" ng-model="billing" ng-change="selectBilling($index, value.billing)">
                                <option value="" disabled>Select BillingCycle</option>
                                <option ng-repeat='value in billingPeriods' value='{{value}}'>{{value}}</option>
                            </select>    
                        </div>
                    </div>

                    <div class="col-md-9" ng-repeat="value in fixedRows">
                        <div class="col-md-5">
                            <br>
                            <label for="comment" class="settings"></label>
                            <div class="form-group">                           
                                <input type="text" ng-model="value.key" 
                                       class="form-control" readonly> 
                            </div>
                        </div> 
                        <div class="col-md-3">
                            <br>
                            <label for="comment" class="settings"></label>
                            <div class="form-group">        
                                <input type="text" ng-model="value.cost"  
                                       class="form-control" pattern="\d+" required>

                            </div>
                        </div>
                        <div class="col-md-1">
                            <br><br>                 
                            <label for="comment" class="settings">{{symbol}}</label>

                        </div>      

                    </div> 
                </div>
        </div>
        <button type="button" class="btn btn-default createAdmin" ng-disabled='(myForm.$invalid) || (update == true)'
                ng-click="createPricing(myForm.$valid)">SAVE</button>    

        <button type="button" class="btn btn-default createAdmin" 
                ng-click="clear()">CLEAR ALL</button>
        <button type="button" class="btn btn-default createAdmin" 
                ng-click="updatePricing()" ng-disabled='update == false'>UPDATE</button>
        </form>
        <div class="project-table" ng-init="init()">
            <div class="main-title">
                <div class="section group">
                    <div class="col span_1_of_3">
                        <h4>Select Product</h4>
                    </div>

                    <div class="col span_1_of_3">                    
                        <div class="right-inner-addon ">
                            <i class="fa fa-search"></i> <input ng-model="searchText"
                                                                class="form-control" placeholder="Search...">
                        </div>
                    </div>
                </div>
            </div>

            <table style="width:170%;">
                <thead>
                    <tr>
                        <th style="width:20%;">Name</th> 
                        <th style="width:20%;">Billing Type</th>
                        <th style="width:30%;">Description</th>
                        <th style="width:30%;">Itemised Details</th>
                        <th style="width:10%;">Action</th>
                        <th style="width:10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pricing in allPricingPlans| filter:searchText">                        
                        <td style="width:20%;">{{pricing.name}}</td>
                        <td style="width:20%;">{{pricing.billingCycle}}</td>
                        <td style="width:20%;">{{pricing.desc}}</td>
                        <td style="width:20%;"><span ng-repeat="(key,value) in pricing.productPlanItemToCost">{{key}}:{{value}},</span></td>
                        <td style="width:10%;">
                            <a href="#" ng-click="edit(pricing.id, pricing.product.id)" class="navbar-toggle collapse in icon-menu" data-toggle="collapse" id="menu-toggle-2"><img src="../../assets/img/edit.svg"  tooltips tooltip-template="Edit"></a> 
                        </td>
                        <td style="width:10%;">
                            <a href="#" ng-click="delete(pricing.id)" confirm="Are you sure you want to delete the item?" class="navbar-toggle collapse in icon-menu" data-toggle="collapse" id="menu-toggle-2"><img src="../../assets/img/delete.svg"  tooltips tooltip-template="Delete"></a>                           
                        </td> 

                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div ui-view></div>
</div>