<div class="tab-content" ng-init="init()">
        <div class="col-md-offset-2 col-md-8">
            <div class="row-md-12">
            <div  class="col-md-6">
                <div class="row col span_1_of_3">

                     <div class="form-group">                                                                     
                            <select class="form-control" ng-model="selectedProduct"  ng-change="getSubscriptionsForProd()" placeholder='Select Product'>
                                <option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>
                            </select>


                    </div>

                </div>
            </div>
            <div  class="col-md-6">
                <div class="row col span_1_of_3">

                     <div class="form-group">                                                                     
                            <select class="form-control" ng-model="selectedTime"  ng-change="getTimePeriod()" placeholder='Type of billing'>
                                <option ng-repeat="time in allTimePeriods" value="{{time}}">{{time}}</option>
                            </select>


                    </div>

                </div>
            </div>
            </div>
             <div class="col-md-12">
            <div class="col span_1_of_3">
                <div class="right-inner-addon">
                    <i class="fa fa-search"></i> <input ng-model="searchText"
                                                        class="form-control" placeholder="Search...">
                </div>
            </div>
             </div>
            <div class="main-title">        
            <div class="upload ">  
            </div>
            <div class="project-table" ng-if="subscriptionsList.length != 0">
                <table style="width:170%;">
                    <thead>
                        <tr>
                            <th style="width:20%;">Customer Name</th>                             
                            <th style="width:15%;">Plan</th>
                            <th style="width:15%;">Renewal Date</th>
                            <th style="width:15%;">Status</th>
                             <th style="width:15%;">Pending Invoice ($)</th>
                             <th style="width:20%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="subscription in subscriptionsList | filter:searchText">                        
                            <td style="width:20%;"><a href="#" ng-click="getCustomerDetails(subscription.subscriptionKey)">{{subscription.customer.name}}</a></td>
                            <td style="width:15%;"  data-toggle="modal" data-target="#myModal"><a href="#">CurrentPlan</a></td>
                            <td style="width:15%;"><sapan ng-repeat="pEmails in pro.productTeamEmails">{{pEmails}},</span></td>
                            <td style="width:15%;" ng-if="custStatus == false">Active</td>
                             <td style="width:15%;" ng-if="custStatus == true">InActive</td>
                            <td style="width:15%;">{{subscription.billingAmount}}</td>
                        <td style="width:20%;"><button type="button" style="width:90%;" class="btn btn-default create" ng-click="delete(pro.id)">Deactivate</button></td>
                        </tr>

                        </tbody>
                </table>
            </div>
            <div class="project-table" ng-if="subscriptionsList.length == 0">
                     <h3>No customers to show</h3>
            </div>
        </div>
                  
                
                        
                 
                <dir-pagination-controls
                    max-size="0"
                    direction-links="true"
                    boundary-links="true" >
                </dir-pagination-controls>   
            <div ng-if="showStats == true">
                <div class="main-title">
                    <h4>Stats</h4>  
                </div>                                        

            <div class="collapse navbar-collapse" id="adminNavbar" ng-repeat="stats in customerStats">
                    <ul class="nav navbar-nav">
                        <li><a  href="javascript://" ng-click="setAdminTab('registration')" >Registration date</a></li>
                        <li><a href="javascript://" ng-click="setAdminTab('logged')">Last logged in date</a></li>
                        <li><a  href="javascript://" ng-click="setAdminTab('users')">no of users </a></li>    
                        <li><a  href="javascript://" ng-click="setAdminTab('projects')">no of projects</a></li> 
                        <li><a href="javascript://" ng-click="setAdminTab('positions')">no of positions</a></li>
                        <li><a href="javascript://" ng-click="setAdminTab('candidates')">no of candidates</a></li>

                    </ul>
                </div>
            </div>
            </div>
</div>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Plans</h4>
        </div>
        <div class="modal-body" ng-repeat="(key, value) in pricingPlans">
           <td> {{key}} </td> : <td> {{ value }} </td>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>